In [29]:
import plotly.dashboard_objs as dashboard
import plotly.plotly as py
import IPython.display
from IPython.display import Image
# py.sign_in(username='**',api_key='***')

In [30]:
import matplotlib.pyplot as plt
import plotly.tools as tls
import cufflinks as cf
import pandas as pd
my_dboard = dashboard.Dashboard()
cf.set_config_file(offline=False, world_readable=True, theme='space')

In [31]:
def fileId_from_url(url):
    """Return fileId from a url."""
    index = url.find('~')
    fileId = url[index + 1:]
    local_id_index = fileId.find('/')

    share_key_index = fileId.find('?share_key')
    if share_key_index == -1:
        return fileId.replace('/', ':')
    else:
        return fileId[:share_key_index].replace('/', ':')

def sharekey_from_url(url):
    """Return the sharekey from a url."""
    index = url.find('share_key=')
    return url[index + len('share_key='):]

In [32]:
refugee_status.head()

,Continent/Country of Nationality,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Africa,"18,129","17,486","8,943","9,678","13,325","7,693","10,629","15,984","17,501","22,492"
1,Asia,"10,086","23,564","44,819","58,309","52,695","44,583","44,416","48,840","47,197","43,115"
2,Europe,"9,615","4,192","2,059","1,693","1,238",996,908,482,818,"2,164"
3,North America,"3,145","2,922","4,177","4,800","4,856","2,930","1,948","4,206","4,066","1,528"
4,Oceania,-,-,-,-,-,-,-,-,-,-

In [33]:
## Load in data
import pandas as pd 
import os
path = './data'
aff_asylum = pd.read_csv(os.path.join(path, "affirmative_asylum.csv"),sep=',',thousands=',')
asylum_statistics = pd.read_csv(os.path.join(path, "asylum_statistics.csv"),thousands=',')
def_asylum = pd.read_csv(os.path.join(path, "defensive_asylum.csv"),thousands=',')
refugee_status = pd.read_csv(os.path.join(path, "refugee_status.csv"),thousands=',')

In [34]:
import re
import numpy as np
df_da = def_asylum
df_da = df_da.set_index('Continent/Country of Nationality')
df_da = df_da.transpose()
df_da = df_da.apply(lambda x: [re.sub('[A-Z-,]*','',x[i]) for i in range(len(x))])
# df_da = df_da.apply(lambda x: int(x))
df_da.replace(to_replace = '',value = np.nan,regex = True,inplace =True)
df_da = df_da.apply(lambda x: x.fillna(x.median()),axis=0)
df_da = df_da.astype('float')
## this gets rid of blank values and fills them with NaN and then fills in with the median/mean values...

In [35]:
%matplotlib inline
times = list(df_da.index)
# df_da.index = pd.to_datetime(times)
idx = 10
url_1 = df_da.iloc[:,0:idx].iplot(asUrl=True)
# plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))
# plt.title('Origin of individuals granted defensive asylum')
# plt.show()
# plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))

# plotly_fig = tls.mpl_to_plotly(fig)
file_Id_1 = fileId_from_url(url_1)

In [36]:
demographics = pd.read_csv('./data/unhcr_popstats_export_demographics_all_data.csv',skiprows=3)
demographics=demographics.convert_objects(convert_numeric=True)
url_2 = demographics.groupby(['Location Name']).sum()[['F: Total'
                                               ,'M: Total']].sort_values(['F: Total','M: Total']
                                                                                   ,ascending=False)[0:20].iplot(kind ='bar',
                                                                                                               title='Location Population',asUrl=True)

file_Id_2 = fileId_from_url(url_2)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:

convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [37]:
url_3 = demographics.groupby('Year').sum()[['F: Total','M: Total']].iplot(kind='area',fill='tozeroy',asUrl=True)
# ax2 = demographics.groupby('Year').sum()['].iplot(kind ='area',ax=ax,color = 'blue')
file_Id_3 = fileId_from_url(url_3)

In [38]:
demographics.head()

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0.0,NaN,1.0,NaN,1.0,0.0,0.0,2.0,0.0,NaN,0.0,NaN,2.0,0.0,0.0,2.0
1,2001,Afghanistan,Various,14335.0,NaN,45451.0,NaN,99880.0,19234.0,412004.0,590904.0,14716.0,NaN,47522.0,NaN,114965.0,13025.0,435492.0,625720.0
2,2001,Afghanistan,Herat,0.0,NaN,0.0,NaN,1.0,0.0,0.0,1.0,0.0,NaN,0.0,NaN,1.0,0.0,0.0,1.0
3,2001,Angola,Viana,484.0,NaN,1687.0,NaN,1282.0,43.0,0.0,3496.0,597.0,NaN,1645.0,NaN,787.0,34.0,0.0,3063.0
4,2001,Angola,Moxico,219.0,NaN,734.0,NaN,427.0,25.0,0.0,1405.0,226.0,NaN,711.0,NaN,139.0,15.0,0.0,1091.0

In [39]:
demographics.groupby(['Country / territory of asylum/residence']).sum()[['F: Total','M: Total']].sort_values(by=['F: Total','M: Total'],ascending=False)[0:20].iplot(kind='bar')

In [45]:
url_4 = demographics['Country / territory of asylum/residence'].value_counts()[0:10].iplot(kind='bar',asUrl = True)
file_Id_4 = fileId_from_url(url_4)

In [46]:
demographics['Country / territory of asylum/residence'].value_counts()[0:10]

Pakistan                  1082
Turkey                     989
Sudan                      953
Cameroon                   891
Dem. Rep. of the Congo     811
Gabon                      591
Afghanistan                527
Iraq                       438
Chad                       369
Armenia                    337
Name: Country / territory of asylum/residence, dtype: int64

In [47]:
url_5 = demographics['Location Name'].value_counts()[0:10].iplot(kind='bar',color = 'blue',asUrl=True)
file_Id_5 = fileId_from_url(url_5)

In [48]:
data_2= pd.read_csv('./data/unhcr_popstats_export_time_series_all_data.csv',parse_dates=['Year'])
data_2['Year'] = data_2['Year'].apply(lambda x: x.year)
data_2.dropna(axis = 0,inplace = True)
def if_numeric(val):
    try:
        return(int(val))
    except:
        return(np.nan)
data_2['Value'] = data_2['Value'].apply(if_numeric)

by_year = data_2.groupby(u'Year')['Value'].sum()
by_year = by_year.reset_index()
url_6 = by_year.iplot(x='Year',y='Value',asUrl=True)
file_Id_6 = fileId_from_url(url_6)
# plt.ylabel('Refugees')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning:

Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

In [49]:

box_a = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': file_Id_1,
    'title': 'defensive asylum'
}


box_b = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': file_Id_2,
    'title': 'Male and Female by Location'
}


box_c = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': file_Id_3,
    'title': 'Male and Female by Year'
}


box_d = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': file_Id_4,
    'title': 'Top Location of Asylum'
}

box_e = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': file_Id_5,
    'title': 'Top location of Origin'
}


box_f = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': file_Id_6,
    'title': 'Time Series Trend'
}

In [50]:
my_dboard.insert(box_f,box_id=1)
my_dboard.insert(box_a,side='right',box_id=1)
my_dboard.insert(box_b,side = 'below',box_id=2)
my_dboard.insert(box_c,side = 'below',box_id=3)
my_dboard.insert(box_d,side='below',box_id=1)
my_dboard.insert(box_e,side = 'below',box_id=2)

In [51]:
# my_dboard.insert(box_d,side='below',box_id=1)
my_dboard.get_preview()

In [52]:
my_dboard.clear()
my_dboard = dashboard.Dashboard()
cf.set_config_file(offline=False, world_readable=True, theme='seaborn')

In [53]:
my_dboard['settings']['title'] = 'Refugee Analysis'
py.dashboard_ops.upload(my_dboard, filename='Refugee Analysis')

'https://plot.ly/~cwczarnik/363/refugee-analysis/'

In [24]:
data_2.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000.0
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000.0
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000.0
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511.0
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000.0

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [27]:
df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [54]:
pd.merge(data_2,df,left_on = 'Country / territory of asylum/residence',right_on='COUNTRY')

,Year,Country / territory of asylum/residence,Origin,Population type,Value,COUNTRY,GDP (BILLIONS),CODE
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000.0,Australia,1483.00,AUS
1,1965,Australia,Various/Unknown,Refugees (incl. refugee-like situations),40000.0,Australia,1483.00,AUS
2,1966,Australia,Various/Unknown,Refugees (incl. refugee-like situations),40000.0,Australia,1483.00,AUS
3,1967,Australia,Various/Unknown,Refugees (incl. refugee-like situations),44000.0,Australia,1483.00,AUS
4,1968,Australia,Various/Unknown,Refugees (incl. refugee-like situations),43000.0,Australia,1483.00,AUS
5,1969,Australia,Various/Unknown,Refugees (incl. refugee-like situations),42000.0,Australia,1483.00,AUS
6,1970,Australia,Various/Unknown,Refugees (incl. refugee-like situations),42000.0,Australia,1483.00,AUS
7,1978,Australia,Various/Unknown,Refugees (incl. refugee-like situations),304000.0,Australia,1483.00,AUS
8,1979,Australia,Various/Unknown,Refugees (incl. refugee-like situations),304000.0,Australia,1483.00,AUS
9,1980,Australia,Various/Unknown,Refugees (incl. refugee-like situations),304000.0,Australia,1483.00,AUS
10,1981,Australia,Lao People's Dem. Rep.,Returnees,2.0,Australia,1483.00,AUS
11,1981,Australia,Various/Unknown,Refugees (incl. refugee-like situations),317000.0,Australia,1483.00,AUS
12,1982,Australia,Various/Unknown,Refugees (incl. refugee-like situations),317000.0,Australia,1483.00,AUS
13,1983,Australia,Various/Unknown,Refugees (incl. refugee-like situations),317000.0,Australia,1483.00,AUS
14,1984,Australia,Various/Unknown,Refugees (incl. refugee-like situations),89000.0,Australia,1483.00,AUS
15,1985,Australia,Various/Unknown,Refugees (incl. refugee-like situations),89000.0,Australia,1483.00,AUS
16,1986,Australia,Various/Unknown,Refugees (incl. refugee-like situations),85900.0,Australia,1483.00,AUS
17,1987,Australia,Various/Unknown,Refugees (incl. refugee-like situations),87600.0,Australia,1483.00,AUS
18,1988,Australia,Various/Unknown,Refugees (incl. refugee-like situations),90970.0,Australia,1483.00,AUS
19,1989,Australia,Various/Unknown,Refugees (incl. refugee-like situations),97915.0,Australia,1483.00,AUS
20,1990,Australia,Various/Unknown,Refugees (incl. refugee-like situations),97915.0,Australia,1483.00,AUS
21,1991,Australia,Various/Unknown,Refugees (incl. refugee-like situations),53117.0,Australia,1483.00,AUS
22,1992,Australia,Various/Unknown,Refugees (incl. refugee-like situations),52604.0,Australia,1483.00,AUS
23,1993,Australia,Chile,Returnees,89.0,Australia,1483.00,AUS
24,1993,Australia,Ethiopia,Returnees,54.0,Australia,1483.00,AUS
25,1993,Australia,Sri Lanka,Returnees,9.0,Australia,1483.00,AUS
26,1993,Australia,El Salvador,Returnees,48.0,Australia,1483.00,AUS
27,1993,Australia,Various/Unknown,Refugees (incl. refugee-like situations),53505.0,Australia,1483.00,AUS
28,1994,Australia,Chile,Returnees,58.0,Australia,1483.00,AUS
29,1994,Australia,Lesotho,Returnees,1.0,Australia,1483.00,AUS
...,...,...,...,...,...,...,...,...
140245,2013,South Sudan,South Sudan,Internally displaced persons,331097.0,South Sudan,11.89,SSD
140246,2013,South Sudan,Syrian Arab Rep.,Asylum-seekers,1.0,South Sudan,11.89,SSD
140247,2013,South Sudan,Uganda,Asylum-seekers,1.0,South Sudan,11.89,SSD
140248,2014,South Sudan,Burundi,Asylum-seekers,NaN,South Sudan,11.89,SSD
140249,2014,South Sudan,Central African Rep.,Asylum-seekers,NaN,South Sudan,11.89,SSD
140250,2014,South Sudan,Central African Rep.,Refugees (incl. refugee-like situations),2040.0,South Sudan,11.89,SSD
140251,2014,South Sudan,C̫te d'Ivoire,Asylum-seekers,NaN,South Sudan,11.89,SSD
140252,2014,South Sudan,Dem. Rep. of the Congo,Asylum-seekers,5.0,South Sudan,11.89,SSD
140253,2014,South Sudan,Dem. Rep. of the Congo,Refugees (incl. refugee-like situations),15485.0,South Sudan,11.89,SSD
140254,2014,South Sudan,Dem. Rep. of the Congo,Returnees,2514.0,South Sudan,11.89,SSD
140255,2014,South Sudan,Congo,Asylum-seekers,NaN,South Sudan,11.89,SSD
140256,2014,South Sudan,Egypt,Asylum-seekers,NaN,South Sudan,11.89,SSD
140257,2014,South Sudan,Eritrea,Asylum-seekers,17.0,South Sudan,11.89,SSD
140258,2014,South Sudan,Ethiopia,Asylum-seekers,71.0,South Sudan,11.89,SSD
140259,2014,South Sudan,Ethiopia,Refugees (incl. refugee-like situations),4900.0,South Sudan,11.89,SSD
140260,2014,South Sudan,Ethiopia,Returnees,443.0,South Sudan,11.89,SSD
140261,2014,South Sudan,Kenya,Asylum-seekers,NaN,South Sudan,11.89,SSD
140262,2014,South Sudan,Rwanda,Asylum-seekers,NaN,South Sudan,11.89,SSD
140263,2014,South Sudan,Sudan,Asylum-seekers,12.0,South Sudan,11.89,SSD
140264,2014,South Sudan,Sudan,Refugees (incl. refugee-like situations),225727.0,South Sudan,11.89,SSD
140265,2014,South Sudan,Somalia,Asylum-seekers,18.0,South Sudan,11.89,SSD
140266,2014,South Sudan,South Sudan,Internally displaced persons,1645392.0,South Sudan,11.89,SSD
140267,2014,South Sudan,South Sudan,Returned IDPs,200055.0,South Sudan,11.89,SSD
140268,2014,South Sudan,Syrian Arab Rep.,Asylum-seekers,NaN,South Sudan,11.89,SSD
140269,2014,South Sudan,Uganda,Asylum-seekers,NaN,South Sudan,11.89,SSD
140270,2012,Barbados,Cuba,Others of concern,1.0,Barbados,4.28,BRB
140271,2013,Barbados,Cuba,Asylum-seekers,0.0,Barbados,4.28,BRB
140272,2013,Barbados,Syrian Arab Rep.,Asylum-seekers,0.0,Barbados,4.28,BRB
140273,2013,Barbados,Syrian Arab Rep.,Refugees (incl. refugee-like situations),1.0,Barbados,4.28,BRB
140274,2014,Barbados,Syrian Arab Rep.,Refugees (incl. refugee-like situations),NaN,Barbados,4.28,BRB

In [1]:
import plotly.plotly as py
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

data = [ dict(
        type = 'choropleth',
        locations = df['CODE'],
        z = df['GDP (BILLIONS)'],
        text = df['COUNTRY'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '$',
            title = 'GDP<br>Billions US$'),
      ) ]

layout = dict(
    title = '2014 Global GDP<br>Source:\
            <a href="https://www.cia.gov/library/publications/the-world-factbook/fields/2195.html">\
            CIA World Factbook</a>',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='d3-world-map' )